In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
sqlitedb_rel_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{sqlitedb_rel_path}'

engine = create_engine(conn_str)

In [3]:
df=pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

In [4]:
df.head()

,type,name,tbl_name,rootpage,sql
0,table,personal_info,personal_info,2,CREATE TABLE personal_info (\n\tuuid TEXT NOT ...
1,table,country_info,country_info,401,CREATE TABLE country_info (\n\tuuid TEXT NOT N...
2,table,career_info,career_info,762,CREATE TABLE career_info (\n\tuuid TEXT NOT NU...
3,table,poll_info,poll_info,1168,CREATE TABLE poll_info (\n\tuuid TEXT NOT NULL...

In [53]:
personal_info=pd.read_sql_query("SELECT * FROM personal_info", engine)
personal_info['age']

0       61 years old
1       57 years old
2       32 years old
3       45 years old
4       41 years old
            ...
9644    37 years old
9645    53 years old
9646            1992
9647    47 years old
9648    51 years old
Name: age, Length: 9649, dtype: object

In [54]:
personal_info['age'] = personal_info['age'].str.replace(' years old', '')
#el blucle busca en la columna 'age' números del rango, si los encuentra los resta al año de la toma de datos 2016.
for x in range(1900, 2021):
    personal_info['age'] = personal_info['age'].str.replace(f'{x}', f'{2016-x}')

In [55]:
personal_info.gender.unique()

array(['male', 'Male', 'Fem', 'FeMale', 'female'], dtype=object)

In [56]:
personal_info['gender'].str.lower()
personal_info.loc[(personal_info['gender'].str.lower().str[0] == 'f'),'gender']='Female'
personal_info.loc[(personal_info['gender'].str.lower().str[0] == 'm'),'gender']='Male'
personal_info.head()

                                   uuid age  gender dem_has_children age_group
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82  61    Male               NO     40_65
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82  57    Male              yES     40_65
2  83127080-da3d-0133-c74f-0a81e8b09a82  32    Male               nO     26_39
3  15626d40-db13-0133-ea5c-0a81e8b09a82  45    Male              YES     40_65
4  24954a70-db98-0133-4a64-0a81e8b09a82  41  Female              yES     40_65

In [57]:
personal_info.gender.unique()

array(['Male', 'Female'], dtype=object)

In [58]:
country_info=pd.read_sql_query("SELECT * FROM  country_info", engine)
country_info.rural.unique()

array(['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural'],
      dtype=object)

In [59]:
country_info['rural'].str.lower()
country_info.loc[(country_info['rural'].str.lower().str[0] == 'c'),'rural']='rural'
country_info.loc[(country_info['rural'].str.lower().str[3] == '-'),'rural']='urban'

In [60]:
country_info.head()

                                   uuid country_code  rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  rural
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT  urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT  rural
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT  rural
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT  rural

In [47]:
country_info.rural.unique()

array(['rural', 'urban'], dtype=object)

In [48]:
career_info=pd.read_sql_query("SELECT * FROM  career_info", engine)

In [49]:
career_info.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [50]:
poll_info=pd.read_sql_query("SELECT * FROM  poll_info", engine)

In [51]:
poll_info.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...