In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
sqlitedb_rel_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{sqlitedb_rel_path}'

engine = create_engine(conn_str)

In [4]:
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

,type,name,tbl_name,rootpage,sql
0,table,personal_info,personal_info,2,CREATE TABLE personal_info (\n\tuuid TEXT NOT ...
1,table,country_info,country_info,401,CREATE TABLE country_info (\n\tuuid TEXT NOT N...
2,table,career_info,career_info,762,CREATE TABLE career_info (\n\tuuid TEXT NOT NU...
3,table,poll_info,poll_info,1168,CREATE TABLE poll_info (\n\tuuid TEXT NOT NULL...